html.light {
  --grid-bg-color: #fff4ece6;
  --grid-box-shadow: #42445a80;
  --badge-bg-color: #ffffff;
  --badge-box-shadow: #42445a;
}
html.dark {
  --grid-bg-color: #282828e6;
  --grid-box-shadow: #757aa880;
  --badge-bg-color: #000000;
  --badge-box-shadow: #ffffff;
}
