@font-face {
  font-family: "Madimi One";
  src: url("../fonts/MadimiOne-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
