@use "font-family.scss" as font;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Courier, monospace;
}
html,
body {
  background-image: url("../../public/sprinkleLight.svg");
  background-size: cover;
}
